/**************************** Search and Filter ****************************/
.search-and-filter {
  border-radius: var(--border-radius-extra-soft);
}
.search-and-filter .osui-search {
  width: 100%;
}
.search-and-filter .osui-search .osui-search__input {
  width: 100%;
}
.search-and-filter .osui-search .osui-search__input .input-search {
  width: 100%;
  display: block;
}
.search-and-filter .osui-search .osui-search__input .form-control[data-input] {
  width: 100%;
  min-width: 0;
  flex: 1;
}
.search-and-filter .input-with-icon.input-with-icon-right .input-with-icon-content-icon:not(:empty) + .input-with-icon-input input {
  padding-left: var(--space-lm);
}
.search-and-filter__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.search-and-filter__icon {
  padding: var(--space-base);
  border-radius: 50%;
  background-color: var(--color-primary);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-and-filter__input {
  width: 100%;
  height: 50px;
  border: 1px solid var(--color-primary) !important;
  border-radius: var(--border-radius-soft);
  padding: 0 var(--space-base);
  font-size: 1rem;
  box-sizing: border-box;
}
.search-and-filter__input-wrapper {
  display: flex;
  flex-direction: row;
  margin-left: var(--space-base);
  width: 100%;
  align-items: center;
}
.search-and-filter__placeholder-wrapper {
  display: none;
  border-radius: var(--border-radius-extra-soft);
  padding: var(--space-m);
  background: var(--color-primary-light);
}
.search-and-filter__placeholder-wrapper--is-expanded {
  display: block;
}
.search-and-filter__placeholder {
  background-color: var(--color-neutral-0);
}
.search-and-filter__button {
  display: flex;
  justify-content: flex-end;
}

/**************************** Content Loading Placeholder ****************************/
@keyframes linearGlow {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(150%);
  }
}
@keyframes radialGlow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.empty-state .line {
  background-color: #dee2e6;
  opacity: 0.8;
  border-radius: 0.5rem;
  display: block;
  height: 1rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.empty-state .line:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 0.3) 50%, transparent 100%);
}
.empty-state .rectangle {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.empty-state .rectangle:before {
  background-color: #dee2e6;
  opacity: 0.8;
  border-radius: 2px;
  content: "";
  display: block;
  padding-bottom: 60%;
}
.empty-state .rectangle:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 0.3) 50%, transparent 100%);
}
.empty-state .rectangle.hasHeight:before {
  height: 100%;
  padding-bottom: 0;
}
.empty-state .square {
  overflow: hidden;
  position: relative;
  width: 5em;
}
.empty-state .square:before {
  background-color: #dee2e6;
  opacity: 0.8;
  border-radius: 0.5em;
  content: "";
  display: block;
  padding-bottom: 100%;
}
.empty-state .square:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 0.3) 50%, transparent 100%);
  border-radius: 0.5em;
}
.empty-state .circle {
  overflow: hidden;
  position: relative;
  width: 5em;
}
.empty-state .circle:before {
  background-color: #dee2e6;
  opacity: 0.8;
  border-radius: 50%;
  content: "";
  display: block;
  padding-bottom: 100%;
}
.empty-state .circle:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 0.3) 50%, transparent 100%);
  border-radius: 50%;
}
.empty-state.negative .line {
  background-color: rgba(255, 255, 255, 0.12);
  opacity: 1;
}
.empty-state.negative .line:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 0.2) 50%, transparent 100%);
}
.empty-state.negative .rectangle:before {
  background-color: rgba(255, 255, 255, 0.12);
  opacity: 1;
}
.empty-state.negative .rectangle:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 0.2) 50%, transparent 100%);
}
.empty-state.negative .square:before {
  background-color: rgba(255, 255, 255, 0.12);
  opacity: 1;
}
.empty-state.negative .square:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 0.2) 50%, transparent 100%);
}
.empty-state.negative .circle:before {
  background-color: rgba(255, 255, 255, 0.12);
  opacity: 1;
}
.empty-state.negative .circle:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 0.2) 50%, transparent 100%);
}
.empty-state.animation .content-block:before,
.empty-state.animation .line:before,
.empty-state.animation .square:after,
.empty-state.animation .rectangle:after {
  animation: linearGlow 2s infinite;
}
.empty-state.animation .circle:after,
.empty-state.animation .square.rounded:after {
  animation: radialGlow 2s infinite linear;
  mask-image: linear-gradient(90deg, transparent, black 20%, black 80%, transparent);
  -webkit-mask-image: linear-gradient(90deg, transparent, black 20%, black 80%, transparent);
}

.phone td {
  flex-direction: column;
}

.line-list-standard .line {
  height: var(--line-height-standard);
  border-radius: var(--border-radius-extra-soft);
}

.rectangle-list-standard .rectangle {
  border-radius: var(--border-radius-extra-soft);
}