@import '../../../abstracts/functions';
@import '../../../abstracts/variables';
@import '../../../abstracts/mixins';

/**************************** Article ****************************/

.article-header-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  .line {
    margin: 0 auto;
  }
}

.article-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: var(--space-m);
}

.article-title {
  flex: 1;
  text-align: center;

  @media (max-width: var(--breakpoint-desktop)) {
    padding-right: var(--space-none);
    margin: {
      bottom: var(--space-base);
      right: var(--space-none);
    }
  }
}

.article-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: var(--space-m);
  width: 100%;

  @media (max-width: $breakpoint-desktop) {
    margin-top: var(--space-base);
  }
}

.article-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.5rem;
  right: 0;
}

@media (max-width: $breakpoint-desktop) {
  .article-icon {
    position: static;
    margin-top: 1rem;
    width: 100%;
  }
}

.title-with-bookmark {
  display: flex;
  align-items: center;
  gap: var(--space-s);
  justify-content: center;
  text-align: center;

  .cke_contents_ltr {
    text-align: center;
  }

  .article-bookmark {
    display: flex;
    align-items: center;
    font-size: var(--font-size-base);

    @media (max-width: $breakpoint-desktop) {
      font-size: var(--font-size-h6);
    }
  }

  .icon {
    display: flex;
    align-items: center;
  }
}