@import '../../abstracts/functions';
@import '../../abstracts/variables';
@import '../../abstracts/mixins';

/**************************** Alerts Bar ****************************/

//-------------------------------------------
// Alerts Bar Component
//-------------------------------------------

.alerts-bar {
    display: flex;
    width: 100%;
    align-items: center;
    
    &__pagination {
        display: flex;
        align-items: center;
        margin-right: 1rem;
    }
    
    &__text-wrapper {
        position: relative;
        flex: 1 1 auto;
        min-width: 0;
        padding-right: 1rem;
        overflow: hidden;
    }
    
    &__text {
        &--no-html {
            display: block;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    
        &--html {
            display: block;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
            .cke_contents_ltr {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
 }