@import '../../abstracts/functions';
@import '../../abstracts/variables';
@import '../../abstracts/mixins';

/**************************** Column Resizer ****************************/

.column-resizer {
  .table {
    .table-header {
      th {
        position: relative !important;
      }
    }
  }

  .resizer {
    @include absolute(0, -3px, 0, null);
    width: 8px !important;
    cursor: col-resize !important;
    z-index: 9999 !important;
    opacity: 0.5;
    
    &:hover {
      opacity: 1;
      background: var(--color-primary) !important;
    }
    
    &.active {
      opacity: 1;
      background: var(--color-primary) !important;
    }
  }

  &.resizing {
    cursor: col-resize;
    user-select: none;
    
    * {
      cursor: col-resize !important;
    }
  }
}