@import '../../abstracts/functions';
@import '../../abstracts/variables';
@import '../../abstracts/mixins';

/**************************** Forms ****************************/

//-------------------------------------------
// Search Input
//-------------------------------------------

.osui-search {
    .search-tap.form-control[data-input] {
        // Dimensions & Spacing
        height: var(--space-lm);
        min-width: 300px;
        padding-left: var(--space-base);
        padding-right: var(--space-xl);
        
        // Visual Styling
        border: var(--border-size-s) solid var(--color-neutral-0);
        background-position: right var(--space-base) center;
    }
}