@import '../../abstracts/functions';
@import '../../abstracts/variables';
@import '../../abstracts/mixins';

/**************************** Lists ****************************/

/* List Files */
.list-file-category {
    background-color: var(--color-neutral-1);
    padding: var(--space-m);
    margin-bottom: var(--space-ls);

    &-label {
        font-weight: bold;
        color: var(--color-neutral-9);
        margin-bottom: var(--space-s);
    }

    &-container {
        padding: var(--space-s);
    }
}

.list-files {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);

    &-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: var(--transition-base);
        text-decoration: underline;

        &:hover {
            background-color: lighten($color-primary, 45%);
            transform: translateY(-2px);
        }

        a {
            color: var(--color-primary);
            text-decoration: none;
            font-weight: 500;

            &:hover {
                color: darken($color-primary, 10%);
                text-decoration: underline;
            }
        }
    }
}
