.summary {
  &__list {
    display: flex;
    width: 100%;
    align-items: stretch;
    padding-top: var(--space-base);
    padding-bottom: var(--space-base);

    @media (max-width: $breakpoint-phone) {
      flex-direction: column;
      padding: var(--space-xl); // Consistent padding for mobile
    }
  }

  &__container {
    position: relative;
    display: flex;
    flex: 1 1 0%;
    overflow: visible;
    padding: 0 var(--space-xs);

    &:not(:first-child) {
      margin-left: var(--space-xl);

      @media (max-width: $breakpoint-phone) {
        margin-left: var(--space-none);
      }
    }

    @media (max-width: $breakpoint-phone) {
      margin-left: 0;
      padding: 0;
      margin-bottom: var(--space-xxl); 
      &:last-child {
        margin-bottom: 0;
      }

      &:not(:last-child) {
        position: relative;
        
        &::before {
          content: '';
          position: absolute;
          bottom: calc(var(--space-xxl) / -2); 
          left: 0;
          width: 100%;
          height: 1px;
          background-color: var(--color-neutral-3);
        }
      }
    }

    &:not(:last-child) {
      &::after {
        content: '';
        position: absolute;
        right: 0;
        height: 100%;
        width: 1px;
        background-color: var(--color-neutral-3);

        @media (max-width: $breakpoint-phone) {
          display: none; // Hide vertical separators in mobile
        }
      }
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--space-base) var(--space-xs);

    @media (max-width: $breakpoint-phone) {
      padding: 0; // Remove padding in mobile
    }
  }

  &__title {
    display: flex;
    padding-bottom: var(--space-s);
    
    .content__text--title {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      font-weight: var(--font-weight-bold);
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__item {
    display: flex;
    width: 100%;
    margin-bottom: var(--space-xs);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    display: flex;
    width: 100%;
    text-decoration: none;
    
    .summary__text {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }
}