@import '../abstracts/functions';
@import '../abstracts/variables';
@import '../abstracts/mixins';

/**************************** Borders **************************/

// Border Width
.border-width {
  border-width: var(--border-width);
}

// Border Color
.border-primary {
  border-color: var(--border-color);
}

.border-success {
  border-color: var(--color-success);
}

.border-warning {
  border-color: var(--color-warning);
}

.border-danger {
  border-color: var(--color-danger);
}

// Border Radius
.border-radius-extra-soft {
  border-radius: var(--border-radius-extra-soft);
}

// Border Combination
.border-default {
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);
}
