@import '../abstracts/variables';

/* Border */
.border { border: $border-width $border-style $border-color; }
.border-top { border-top: $border-width $border-style $border-color; }
.border-right { border-right: $border-width $border-style $border-color; }
.border-bottom { border-bottom: $border-width $border-style $border-color; }
.border-left { border-left: $border-width $border-style $border-color; }

/* Border-radius */
.border-rounded { border-radius: $border-radius; }
.border-rounded-top {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}
.border-rounded-right {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}
.border-rounded-bottom {
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}
.border-rounded-left {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}
.border-rounded-circle { border-radius: 50%; }
.border-rounded-none { border-radius: 0; }

/* Border-color */
.border-primary { border-color: $color-primary; }
.border-secondary { border-color: $color-secondary; }

/* Border-width */
@each $size, $width in $border-widths {
  .border-#{$size} { border-width: $width; }
}

/* Responsive borders */
@each $breakpoint in map-keys($grid-breakpoints) {
  @include responsive($breakpoint) {
    .border-#{$breakpoint} { border: $border-width $border-style $border-color; }
    .border-#{$breakpoint}-0 { border: 0; } 
  }
}