@import '../abstracts/functions';
@import '../abstracts/variables';
@import '../abstracts/mixins';

/**************************** Flex ****************************/

/* Flex grow */
.flex-grow-0 { flex-grow: 0; }
.flex-grow-1 { flex-grow: 1; }
.flex-grow-2 { flex-grow: 2; }
.flex-grow-3 { flex-grow: 3; }
.flex-grow-4 { flex-grow: 4; }

/* Flex container */
.flex-container-responsive {
    display: flex;
    flex-direction: row;
    align-items: center;
  
    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
    }
  }

/* Flex grid */

.flex-grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: var(--grid-gap);
    justify-content: center;

    @media (max-width: $breakpoint-tablet-horizontal) {
        --grid-columns: 3;
    }

    @media (max-width: $breakpoint-tablet) {
        --grid-columns: 2;
    }

    @media (max-width: $breakpoint-phone) {
        --grid-columns: 1;
    }
}

.flex-grid > * {
    box-sizing: border-box;
}

.flex-grid-4 {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns-standard), 1fr);
    gap: var(--grid-gap);
    justify-content: center;

    @media (max-width: $breakpoint-tablet-horizontal) {
        --grid-columns: 3;
    }

    @media (max-width: $breakpoint-tablet) {
        --grid-columns: 2;
    }

    @media (max-width: $breakpoint-phone) {
        --grid-columns: 1;
    }
}

.flex-grid-4 > * {
    box-sizing: border-box;
}

.flex-grid-item {
    width: 100%;
}

.container-align-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    gap: 1rem; 

    button {
        width: auto;
    }
}