@import '../abstracts/variables';

/**************************** Spacing ****************************/

$size-map: (
    'none': 0,   // None
    'xs': 0.25,  // Extra small
    's': 0.5,    // Small
    'm': 1,      // Medium
    'l': 1.5,    // Large
    'xl': 2,     // Extra large
    'xxl': 3     // Extra extra large
);

$spacer: 1rem;

/* Margins and Paddings */
@each $size, $multiplier in $size-map {
    .margin-#{$size} { margin: $spacer * $multiplier; }
    .margin-top-#{$size} { margin-top: $spacer * $multiplier; }
    .margin-bottom-#{$size} { margin-bottom: $spacer * $multiplier; }
    .margin-left-#{$size} { margin-left: $spacer * $multiplier; }
    .margin-right-#{$size} { margin-right: $spacer * $multiplier; }

    .padding-#{$size} { padding: $spacer * $multiplier; }
    .padding-top-#{$size} { padding-top: $spacer * $multiplier; }
    .padding-bottom-#{$size} { padding-bottom: $spacer * $multiplier; }
    .padding-left-#{$size} { padding-left: $spacer * $multiplier; }
    .padding-right-#{$size} { padding-right: $spacer * $multiplier; } 
}