/**************************** Utility Classes ****************************/

@import '../abstracts/functions';
@import '../abstracts/variables';
@import '../abstracts/mixins';

/* Colors */
.color-primary{
    color: var(--color-primary);
}

.background-primary{
    background-color: var(--color-primary);
}

.background-warning-light{
    background-color: var(--color-warning-light);
}

.color-warning-light{
    color: var(--color-warning-light);
}

/* Layout */
.width-max {
    max-width: var(--width-max);
}

/* Opacity */
.opacity-50 {
    opacity: 0.5;
}

.bg-opacity-40 {
    background-color: rgba(0, 0, 0, 0.4);
}

.bg-opacity-30 {
    background-color: rgba(0, 0, 0, 0.3);
}

/* Scrolling */
.scrollable-y {
    height: 100vh;
    overflow-y: auto;
}
