/**************************** Buttons ****************************/

@import '../abstracts/functions';
@import '../abstracts/variables';
@import '../abstracts/mixins';

/* Button styles */
.btn.btn-transparent{
  background-color: transparent;
  padding: 0px 10px;
}

.btn.btn-border-neutral-4{
  border-color: var(--color-neutral-4);
}

.btn,
.tablet .btn, 
.phone .btn{
  height: 35px;
}