/**************************** Checkboxes ****************************/

@import '../abstracts/functions';
@import '../abstracts/variables';
@import '../abstracts/mixins';

/* Small Checkbox */
.checkbox.checkbox-small {
    width: var(--size-checkbox-s);
    height: var(--size-checkbox-s);
    position: relative;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--color-neutral-0);
      border: var(--border-size-s) solid var(--color-neutral-5);
      border-radius: var(--border-radius-soft);
      box-sizing: border-box;
      transition: all 180ms linear;
    }
    
    &:checked:before {
      background: var(--color-primary);
      border-color: var(--color-primary);
    }
    
    &:focus {
      box-shadow: 0 0 0 2px var(--color-focus);
    }
    
    &:checked:after {
      content: '✓';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--color-neutral-0);
      font-size: calc(var(--size-checkbox-s) * 0.6);
    }
  }