@import '../abstracts/functions';
@import '../abstracts/variables';
@import '../abstracts/mixins';

/**************************** Images ****************************/

/* App-specific Images */
.image {
    &-star-alliance {
        width: var(--image-star-alliance);
    }

    &-captcha {
        width: var(--image-width-captcha);
        height: var(--image-height-captcha);
    }

    &-size{
        &-120{
            width: 120px;
        }
    }
}
  
/* General Image Styles */
.img {
    &-responsive {
        max-width: 100%;
        height: auto;
    }
}

/* Background Styles */
.bg {
    &-cover {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &-responsive {
        @include responsive('tablet') {
            background-image: none;
        }
    }
}