@import '../abstracts/functions';
@import '../abstracts/variables';
@import '../abstracts/mixins';

/**************************** Images ****************************/

/* App Images */
.image-star-alliance{
    width: var(--image-star-alliance);
}

.image-captcha{
    width: var(--image-width-captcha);
    height: var(--image-height-captcha);
}

/* General image styles */
.img-responsive {
    max-width: 100%;
    height: auto;
}

/* Background images */
.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Responsive background images */
.bg-responsive {
    @include responsive('tablet') {
      background-image: none;
    }
}