@import '../abstracts/functions';
@import '../abstracts/variables';
@import '../abstracts/mixins';

/**************************** Images ****************************/

//-------------------------------------------
// App-specific Images
//-------------------------------------------
.image {
    // Brand Images
    &-star-alliance {
        width: var(--image-star-alliance);
    }

    // Form Images
    &-captcha {
        width: var(--image-width-captcha);
        height: var(--image-height-captcha);
    }

    // Fixed Sizes
    &-size {

        &-40 {
            width: 40px;
        }
        &-60 {
            width: 60px;
        }
        &-80 {
            width: 80px;
        }
        &-120 {
            width: 120px;
        }
    }
}
  
//-------------------------------------------
// Responsive Images
//-------------------------------------------
.img {
    &-responsive {
        max-width: 100%;
        height: auto;
    }
}

//-------------------------------------------
// Background Images
//-------------------------------------------
.bg {
    // Background Cover
    &-cover {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    // Responsive Backgrounds
    &-responsive {
        @include responsive($breakpoint-tablet) {
            background-image: none;
        }
    }
}

.image-size-xs{ width: var(--image-width-xs); height: var(--image-height-xs); }
.image-size-s{ width: var(--image-width-s); height: var(--image-height-s); }
.image-size-m{ width: var(--image-width-m); height: var(--image-height-m); }
.image-size-l{ width: var(--image-width-l); height: var(--image-height-l); }
.image-size-display{ width: var(--image-width-display); height: var(--image-height-display); }

.image-width-xs{ width: var(--image-width-xs); }
.image-width-s{ width: var(--image-width-s); }
.image-width-m{ width: var(--image-width-m); }
.image-width-l{ width: var(--image-width-l); }
.image-width-display{ width: var(--image-width-display); }

.image-height-xs{ height: var(--image-height-xs); }
.image-height-s{ height: var(--image-height-s); }
.image-height-m{ height: var(--image-height-m); }
.image-height-l{ height: var(--image-height-l); }
.image-height-display{ height: var(--image-height-display); }

.image-max-width-s{ max-width: var(--image-width-s); }
.image-max-width-sm{ max-width: var(--image-width-sm); }