/**************************** Pagination ****************************/

//-------------------------------------------
// Standard Pagination
//-------------------------------------------

.pagination {
  .pagination-counter {
      @media (max-width: $breakpoint-phone) {
          margin-bottom: var(--space-s);
      }
  }
  .pagination-button{
    width: auto;
    min-width: 32px;
    padding: var(--space-s);
  }
}

//-------------------------------------------
// Simple Pagination
//-------------------------------------------

.simple-pagination {
  display: flex;
  justify-content: center;

  .pagination {
      margin-top: var(--space-none);

      // Counter
      .pagination-counter {
          display: none;

          @media (max-width: $breakpoint-phone) {
              margin-bottom: var(--space-xs);
          }
      }

      // Button Styles
      .pagination-button {
          background-color: transparent;
          border: none;
          font-size: var(--font-size-base);
          align-items: center;
          justify-content: center;

          // Hover State
          &:hover {
              background-color: var(--color-hover);
              color: var(--color-primary);
          }

          // Text Styling
          .pagination-text {
              font-size: var(--font-size-base);
          }

          // Active State
          &.is--active {
              border: var(--border-none) solid var(--color-primary);
              background-color: var(--color-active);
              color: var(--color-primary);

              span {
                  font-weight: bold;
                  color: var(--color-primary);
              }
          }
      }
  }
}

//-------------------------------------------
// Device-Specific Styles
//-------------------------------------------

// Mobile Styles
.phone {
  .pagination-container {
      margin-top: var(--space-none);
  }
}

// Desktop Styles
.desktop {
  .pagination-button:not(.is--ellipsis):hover {
      background-color: transparent;
      color: var(--color-primary);
      border: none;
  }
}