@import '../abstracts/functions';
@import '../abstracts/variables';
@import '../abstracts/mixins';

/**************************** Popups ****************************/

[data-popup-backdrop] {
    z-index: var(--z-index-modal);
}

.popup {
    &-dialog {
        max-width: var(--popup-max-width);
        border-radius: var(--border-radius-extra-soft);
    }
}

.popup-template {
    &__content {
        max-height: calc(80vh - 150px);
        overflow-y: auto;
        margin: var(--space-m) 0 var(--space-s) 0;
        
        &::-webkit-scrollbar {
            width: 4px;
            
            &-track {
                background: transparent;
            }
            
            &-thumb {
                background: var(--color-primary);
                border-radius: var(--border-radius-soft);
            }
        }
    }
    
    &__icon {
        i {
            position: relative;
            
            &:after {
                content: '×';
                position: absolute;
                transform: translate(-50%, -50%);
                font-size: 3rem;
                padding-right: var(--space-base);
            }
            
            &:before {
                display: none;
            }
        }
    }

    &__buttons {
        display: flex;
        width: 100%;

        @media (max-width: $breakpoint-tablet) {
            flex-direction: column;
            gap: var(--space-m);
        }

        @media (min-width: $breakpoint-tablet) {
            flex-direction: row;
            justify-content: flex-end;
            gap: var(--space-m);
        }
    }

    &__button {
        &--main {
            .btn {
                color: var(--color-neutral-9);
            }
        }

        &--cancel {
            .btn {
                border: 0;
                color: var(--color-primary);
                font-weight: 400;
            }

            @media (max-width: $breakpoint-tablet) {
                margin-left: 0 !important;
            }

            @media (min-width: $breakpoint-tablet) {
                order: -1;
            }
        }

        &--main, &--cancel {
            @media (max-width: $breakpoint-tablet) {
                width: 100%;

                .btn {
                    width: 100%;
                }
            }
        }
    }
}