@import '../abstracts/functions';
@import '../abstracts/variables';
@import '../abstracts/mixins';

/**************************** Responsive Grid ****************************/

.responsive-grid {
  // Block level styles
  &__container {
    width: 100%;
  }

  &__list {
    display: grid;
    gap: var(--space-base);
  }

  &__link {
    text-decoration: none;
    display: block;
    width: 100%;
  }

  &__item {
    padding: var(--space-none);
    overflow: hidden;
    transition: var(--transition-base);
    height: auto !important;
    min-height: var(--flip-card-height) !important;
    display: flex !important;
    flex-direction: column !important;
    background-color: var(--color-neutral-0);
    border-radius: var(--border-radius-soft);
    box-shadow: var(--box-shadow);

    // Hover state
    &:hover {
      transform: translateY(calc(-1 * var(--space-xs)));
      box-shadow: 0 var(--space-xs) var(--space-base) rgba(var(--color-neutral-10-rgb), 0.2);
    }
  }

  // Image container and styles
  &__image-container {
    margin: var(--space-none);
    padding: var(--space-none);
    flex: 0 0 auto;
    background-color: var(--color-neutral-2);
    width: 100%;
    position: relative;

    &-wrapper {
      width: 100%;
      height: 100%;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  // Text content styles
  &__content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: var(--space-s) var(--space-s) var(--space-base);
    justify-content: center;
  }

  &__text {
    &--neutral-10 {
      color: var(--color-neutral-10);
    }
  }
}

// Responsive Grid Modifiers
.responsive-grid--centered {
  text-align: center;
}

// Media Queries
@media (max-width: $breakpoint-tablet) {
  .responsive-grid {
    &__item {
      min-height: auto !important;
    }

    &__content {
      padding: var(--space-xs);
    }
  }
}