@import '../abstracts/functions';
@import '../abstracts/variables';
@import '../abstracts/mixins';

/**************************** Scroll to Top ****************************/

.scroll-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(45);  // Set the size of the button
    height: rem(45); // Set the size of the button
    border-radius: 50%; // Ensure it's circular
    background-color: var(--color-primary); 
    transition: background-color 0.3s ease;
    border: 1px solid var(--color-neutral-0);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;

    i {
        font-size: rem(28);  // Adjust the size of the arrow
        color: var(--color-neutral-9);
        padding-bottom:var(--space-xs);
    }

    &:hover {
        background-color: var(--color-primary); 
    }

    &:focus {
        outline: none; 
    }
}
