@import '../abstracts/functions';
@import '../abstracts/variables';
@import '../abstracts/mixins';

/**************************** Tables ****************************/

//-------------------------------------------
// Responsive Table Styles
//-------------------------------------------

.phone,
.tablet {
    // Default responsive behavior
    .table:not(.table-no-responsive) {
        tr:not(:last-child) {
            margin-bottom: var(--space-base);
        }
    }
}

// For inactive rows
.table-row {
    td {
      &.table--is-inactive,
      &.table--is-inactive ~ td {
        background-color: var(--color-neutral-3);
        color: var(--color-neutral-7);
  
        // Target buttons inside affected cells
        button, .icon {
          background-color: var(--color-neutral-3);
          color: var(--color-neutral-7);
          border-color: var(--color-neutral-7);
        }
      }

      &.table--info,
      &.table--info ~ td {
        background-color: var(--color-info-extra-light);
      }
    }
  }

.table [data-checkbox]:checked:after {
  border: var(--border-size-m) solid var(--color-neutral-7);
}

.table-column-fixed {
  position: sticky;
  left: 0;
  z-index: 2;
  box-shadow: 4px 0 4px -2px rgba(0, 0, 0, 0.1); 
}

.align-table-center {
  margin-left: auto;
  margin-right: auto;
}