.osui-tooltip .osui-balloon{
    background-color: var(--color-neutral-0);
    color: var(--color-neutral-9);
}

.osui-tooltip__balloon-arrow{
    background-color: var(--color-neutral-0);
}

.osui-balloon{
    box-shadow: var(--shadow-m);   
}

.osui-tooltip.tooltip-medium .osui-balloon{
    max-width: 400px;
}