@import '../abstracts/functions';
@import '../abstracts/variables';
@import '../abstracts/mixins';

/**************************** Global ****************************/

/* Base HTML element styles */
html {
    font-size: var( --font-family-base);
    line-height: var(--line-height-base);
}
  
body {
    font-family: var(--font-family-base);
}

/* Search input invalid border */
.form-control.invalid{
  border: 1px solid var(--color-danger);
  box-shadow: inset 0 5px 25px rgba(0, 0, 0, 0.05), 0 0 5px var(--color-danger);
}

/* Submenu */
.osui-submenu__items > div {
  width: 100%;
}