@import '../abstracts/functions';
@import '../abstracts/variables';
@import '../abstracts/mixins';

/**************************** Global ****************************/

/* Base HTML element styles */
html {
    font-size: var( --font-family-base);
    line-height: var(--line-height-base);
  }
  
  body {
    font-family: var(--font-family-base);
  }