@import '../abstracts/functions';
@import '../abstracts/variables';
@import '../abstracts/mixins';

/**************************** Reset ****************************/

// Universal Box Model Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Media Element Reset  
img {
    max-width: 100%;
    height: auto;
}