/**************************** Reset ****************************/

@import '../abstracts/functions';
@import '../abstracts/variables';
@import '../abstracts/mixins';

/* Basic reset for consistent styling across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }