// Import the Sass math module to use division
@use "sass:math";

// Define the base font size for the project
$font-size--base: 16px;


// Strips the unit from a number
@function strip-unit($value) {
  $abs-value: if($value < 0, $value * -1, $value);
  $unit: math.div($abs-value, ($abs-value * 0 + 1));
  @return if($value < 0, $unit * -1, $unit);
}

// Converts a pixel value to rem 
@function rem($pixels) {
  $pixels: strip-unit($pixels);
  @return math.div($pixels, strip-unit($font-size--base)) * 1rem;
}

// Converts a pixel value to em
@function em($pixels, $context: $font-size--base) {
  // Ensure both $pixels and $context are unitless
  @return math.div(strip-unit($pixels), strip-unit($context)) * 1em;
}

// Lighten a color by a specified percentage
@function lighten-color($color, $percent) {
  @return mix(white, $color, $percent);
}